{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block body %}
	<div class="container mt-5 text-center">
		<h1>Mot de passe oublié</h1>
		{{ form(emailForm) }}
		</div>

		<script>
			document.getElementById('member').style.display = 'none';
		</script>
		<script>
			document.getElementById('bleudeco').style.display = 'none';
		</script>
		<script>
			document.getElementById('deconnexion').style.display = 'block';
		</script>
		<script>
			document.getElementById('achats').style.display = 'none';
		</script>
		<script>
			document.getElementById('echanges').style.display = 'none';
		</script>
		<script>
			document.getElementById('achat').style.display = 'none';
		</script>
		<script>
			document.getElementById('echange').style.display = 'none';
		</script>
		<script>
			document.getElementById('inscription').style.display = 'none';
		</script>
		<script>
			document.getElementById('connexion').style.display = 'none';
		</script>
		<script>
			document.getElementById('admin').style.display = 'none';
		</script>
	{% endblock %}
