{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe
{% endblock %}

{% block body %}
	<div class="container mt-5 text-center">
		<h1>Réinitialisation du mot de passe</h1>
		<p class="mt-3">Veuillez entrer votre nouveau mot de passe ci-dessous.</p>
		<form method="post">
			<label for="inputPassword">Mot de passe</label>
			<input type="password" name="password" id="inputPassword" placeholder="Mot de passe" required>
			<input type="hidden" name="token" value="{{ token }}">
			<button type="submit" id="valider">
				Valider le mot de passe
			</button>
		</form>
	</div>
	<script>
		document.getElementById('member').style.display = 'none';
	</script>
	<script>
		document.getElementById('bleudeco').style.display = 'none';
	</script>
	<script>
		document.getElementById('deconnexion').style.display = 'block';
	</script>
	<script>
		document.getElementById('achats').style.display = 'none';
	</script>
	<script>
		document.getElementById('echanges').style.display = 'none';
	</script>
	<script>
		document.getElementById('achat').style.display = 'none';
	</script>
	<script>
		document.getElementById('echange').style.display = 'none';
	</script>
	<script>
		document.getElementById('inscription').style.display = 'none';
	</script>
	<script>
		document.getElementById('connexion').style.display = 'none';
	</script>
	<script>
		document.getElementById('admin').style.display = 'none';
	</script>
{% endblock %}
