<footer id="footer" class="foot mb-0 mt-5">
	<div class="jumbotron mt-5 liens_blancs" style="background-color:#2fa4e7;">
		<div class="col">
			<a href="#" class="text-center cadre1">
				<i class="fab fa-instagram fa-2x"></i>
			</a>
		</div>
		<div class="col mt-2">
			<a href="#" class="text-center cadre2">
				<i class="fab fa-twitter fa-2x"></i>
			</a>
		</div>
		<div class="col mt-2">
			<a href="#" class="text-center">
				<p>
					<a href="https://ericdelangle.fr/" style=" text-decoration:none;">Copyright ©2021 l'avenue des artistes</a>
					tous droits réservés.</p>

			</a>
		</div>
	</div>
</footer>
