<form method="post" action="{{ path('admin_gallery_vente_delete', {'id': gallery_vente.id}) }}" onsubmit="return confirm('Etes vous sur(e) de vouloir supprimer cette galerie ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gallery_vente.id) }}">
	<button class="btn btn-danger mt-2">Supprimer cette galerie</button>
</form>
