{% extends 'base.html.twig' %}

{% block title %}New GalleryVente
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Créer une galerie de vente.</h1>

		{{ include('admin/admin_vente/_form.html.twig') }}

		<button class="btb bouton mt-2">
			<a href="{{ path('admin_gallery_vente_index', {'slug' : app.user.slug}) }}" style="color:#ffffff; text-decoration:none;">Liste de vos galeries.</a>
		</button>
	</div>
	<script>
		document.getElementById('member').style.display = 'none';
	</script>
	<script>
		document.getElementById('bleudeco').style.display = 'none';
	</script>
	<script>
		document.getElementById('deconnexion').style.display = 'block';
	</script>
	<script>
		document.getElementById('achats').style.display = 'none';
	</script>
	<script>
		document.getElementById('echanges').style.display = 'none';
	</script>
	<script>
		document.getElementById('achat').style.display = 'none';
	</script>
	<script>
		document.getElementById('echange').style.display = 'none';
	</script>
	<script>
		document.getElementById('inscription').style.display = 'none';
	</script>
	<script>
		document.getElementById('connexion').style.display = 'none';
	</script>
	<script>
		document.getElementById('admin').style.display = 'none';
	</script>
{% endblock %}
