{% extends 'base.html.twig' %}

{% block title %}Modification de votre galerie d'échange.
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center mt-5">Editer votre galerie d'échange.</h1>

		{{ include('gallery_echange/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

		{{ include('gallery_echange/_delete_form.html.twig') }}
		<a class="btn btn-info mt-2" href="{{ path('artistic_work_echange_new', {'id': gallery_echange.id}) }}">Ajouter une image</a>
		<button class="btn bouton mt-2">
			<a href="{{ path('gallery_echange_index') }}" class="bouton">Retour à la liste de vos galeries</a>
		</button>
	</div>
	<script>
		document.getElementById('member').style.display = 'block';
	</script>
	<script>
		document.getElementById('bleudeco').style.display = 'none';
	</script>
	<script>
		document.getElementById('deconnexion').style.display = 'block';
	</script>
	<script>
		document.getElementById('achats').style.display = 'none';
	</script>
	<script>
		document.getElementById('echanges').style.display = 'none';
	</script>
	<script>
		document.getElementById('achat').style.display = 'none';
	</script>
	<script>
		document.getElementById('echange').style.display = 'none';
	</script>
	<script>
		document.getElementById('inscription').style.display = 'none';
	</script>
	<script>
		document.getElementById('connexion').style.display = 'none';
	</script>
	<script>
		document.getElementById('admin').style.display = 'none';
	</script>
{% endblock %}
