{% extends 'base.html.twig' %}

{% block title %}Création d'une galerie d'échange.
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center mt-5">Créez votre galerie d'échange.</h1>

		{{ include('gallery_echange/_form.html.twig') }}

		<a href="{{ path('gallery_echange_index') }}">Vos galeries d'échange.</a>
	</div>

{% endblock %}
