{% extends "base.html.twig" %}
{% block title %}
	<h1>Modifier votre mot de passe</h1>
{% endblock %}
{% block body %}
	<h1>Ici vous pouvez changer votre mot de passe.</h1>
	{{ form_start(form)}}

	{{ form_rest(form)}}
	<!-- captcha -->
	<button type="submit" class="btn bouton">Valider</button>
	{{ form_end(form)}}
{% endblock %}
