
<!DOCTYPE html>
<html>
<body>
    <h1>Lien d'activation</h1>
    <p>Vous avez créé un compte sur artetpartage.com, veuillez cliquer sur le lien ci-dessous pour l'activer.</p>
    <a href="{{ absolute_url(path('security_activation', {'token':token})) }}">Activer mon compte</a>
</body>
</html>

