<form method="post" action="{{ path('artistic_work_echange_delete', {'id': artistic_work_echange.id}) }}" onsubmit="return confirm('Etes vous sur(e) de vouloir supprimer cette image ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artistic_work_echange.id) }}">
	<button class="btn btn-danger">Supprimer</button>
</form>
