{% extends 'base.html.twig' %}

{% block title %}Ajout d'image a votre galerie d'échange.
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center mt-5">Ajouter une image à votre galerie d'échange.</h1>

		{{ include('artistic_work_echange/_form.html.twig') }}

		<button class="btn bouton mt-2">
			<a href="{{ path('gallery_echange_index') }}" style="color:#ffffff; text-decoration:none;">Retour à vos galeries d'échange</a>
		</button>
	</div>

{% endblock %}
