{% extends "base.html.twig" %}

{% block title %}
	Galerie(s) d'échange'
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center mt-5">Galerie(s) d'échange'</h1>
		<div class="jumbotron mt-5">
			{% for item in galeries %}
				<p class="text-center">{{item.name}}

					<ul class="text-center">
						<li>
							<button class="btn bouton">
								<a href="{{ path('galery_vente_edit', {'id': item.id }) }}">Gérer cette galerie</a>
							</button>
						</li>
						<li>
							<button class="btn bouton">
								<a href="{{ path('galery_vente_delete', {'id': item.id }) }}">Supprimer cette galerie</a>
							</button>
						</li>
					</ul>
				</p>
				<hr>
			{% endfor %}

		</div>

	</div>
{% endblock %}
